@import url('./font.css');

body {
  font-family: 'Poppins';
  margin: 0;
}

.container {
  max-width: 1200px;
  background-color: #ff0000;
  margin: 0 auto;
}

.icon-bitcoin {
  position: absolute;
  left: 17px;
  top: 11px;
}

.logo {
  position: relative;
}

